body {
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#content-bar {
  width: 100vw;
  background-color: #1e1e1e;
  color: white;
  font-size: 15px;
  user-select: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
}

#shortcuts-bar {
  margin-left: 1.5rem;
}

#content-spacer {
  flex-grow: 1;
}

#credit-section {
  padding: 1.5rem;
}

.content-link {
  color: antiquewhite;
}

.content-link:visited {
  color: antiquewhite;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  right: 10vw;
  color: white;
  font-size: 15px;
  padding: 20px;
  user-select: none;
  background-color: #2e3e3e;
  border-radius: 10px 10px 0px 0px;
}
